<app-navigation></app-navigation>
<div class="user_crud_container">
    <form (ngSubmit)="on_add_item(addProductForm)" #addProductForm="ngForm">
        <div class="edit_product_container" *ngIf="product">
            <div class="edit_product_container_imgs_container">
            <h3 class="add_product_edit_entering_sentence">Edit product enviromant</h3>
                <div class="edit_product_container_maing_img">
                    <h3>
                        <option class="add_product_main_img_upload_box" id="drop_box"  
                        [style.backgroundImage]="'url()'"></option>
                        <input type="file" class="img_input" id="input_file" name="main_photo" hidden>
                    </h3>
                </div>
                <div class="edit_product_container_secondary_img_grid add_product_edit_secondary_grid">
                    <div class="edit_product_container_secondary_img_grid_inner_box add_productedi_secondary_inner_grid">
                        <option class="add_product_main_img_upload_box add_product_additional_img_upload_box add_product_edit_secondary_img_fix" id="drop_box_second" 
                        value="" [style.backgroundImage]="'url()'"></option>
                        <input type="file" class="img_input" id="input_file_second" name="second_img" hidden >
                    </div>
                    <div class="edit_product_container_secondary_img_grid_inner_box add_productedi_secondary_inner_grid">
                        <option class="add_product_main_img_upload_box add_product_additional_img_upload_box add_product_edit_secondary_img_fix" id="drop_box_third"
                        value="" [style.backgroundImage]="'url()'"></option>
                        <input type="file" class="img_input" id="input_file_third" name="third_img" hidden >
                    </div>
                    <div class="edit_product_container_secondary_img_grid_inner_box add_productedi_secondary_inner_grid">
                        <option class="add_product_main_img_upload_box add_product_additional_img_upload_box add_product_edit_secondary_img_fix" id="drop_box_forth"
                        value="" [style.backgroundImage]="'url()'"></option>
                        <input type="file" class="img_input" id="input_file_forth" name="fourth_img" hidden >
                    </div>
                    <div class="edit_product_container_secondary_img_grid_inner_box add_productedi_secondary_inner_grid">
                        <option class="add_product_main_img_upload_box add_product_additional_img_upload_box add_product_edit_secondary_img_fix" id="drop_box_fifth"
                        value="" [style.backgroundImage]="'url()'"></option>
                        <input type="file" class="img_input" id="input_file_fifth" name="fifth_img" hidden >
                    </div>
                </div>
                <h3 class="add_product_edit_second_part_start">Additional information</h3>
                <div class="add_product_edit_second_part">
                    <div>
                        <label for="username" class="add_product_edit_second_part_label_field">Product Name</label>
                        <input type="text" name="product_name" class="add_product_edit_second_part_input_field" value="" [(ngModel)]="product.product_name">
                    </div>
                    <div>
                        <label for="username" class="add_product_edit_second_part_label_field">Price</label>
                        <input type="text" name="product_price" class="add_product_edit_second_part_input_field js_price" value="" #product_price_input [(ngModel)]="product.product_price">
                    </div>
                    <div>
                        <label for="username" class="add_product_edit_second_part_label_field">off price</label>
                        <input type="text" name="off_price" class="add_product_edit_second_part_input_field js_off_price" value="" #off_price_input [(ngModel)]="product.off_price">
                    </div>
                    <div>
                        <label for="username" class="add_product_edit_second_part_label_field">final price</label>
                        <input type="text" name="final_price" class="add_product_edit_second_part_input_field js_price_output" #final_price_output [(ngModel)]="product.final_price"><div></div>
                    </div>
                    <div>
                        <label for="username" class="add_product_edit_second_part_label_field">link word</label>
                        <input type="text" name="link_word" class="add_product_edit_second_part_input_field" value="" [(ngModel)]="product.link_word">
                    </div>
                    <div>
                        <label for="username" class="add_product_edit_second_part_label_field">dominant_color</label>
                        <input type="text" name="dominant_color" id="dominant_color_output" class="add_product_edit_second_part_input_field" value="" [(ngModel)]="product.dominant_color">
                    </div>
                </div>
                <div class="add_product_edit_description_box">
                    <textarea name="product_description" id="description" class="add_product_input_textarea" placeholder="Please enter description of product" [(ngModel)]="product.product_description"></textarea>
                    <div class="red-text add_product_product_error"></div>
                </div>
                <button class="button_test add_product_edit_submit_button" type="submit" href="">
                  Update
                </button>

            </div>
        </div>
        <canvas id="preview" style="display: none;"></canvas>
        <canvas id="canvas" style="display: none;"></canvas>
    </form>
    <div>
        <p class="disclaimer">This Page is visible only for Main Admin. Any restriction is forbiddened</p>
    </div>
</div>