<app-navigation></app-navigation>
<div class="dashboard_container">
    <div class="main_info">
    <div class="main_info_box">
            <div class="main_info_left_box">
                <p>142</p>
                <h2>Views</h2>
            </div>
            <div class="main_info_right_box">
                <i class='bx bx-user'></i>
            </div>
    </div>
    <div class="main_info_box">
            <div class="main_info_left_box">
                <p>{{ totalProducts }}</p>
                <h2>Products</h2>
            </div>
            <div class="main_info_right_box">
                <i class='bx bxs-package'></i>
            </div>
    </div>
    <div class="main_info_box">
            <div class="main_info_left_box">
                <p>25</p>
                <h2>Sales</h2>
            </div>
            <div class="main_info_right_box">
                <i class='bx bx-cart' ></i>
            </div>
    </div>
    <div class="main_info_box">
            <div class="main_info_left_box">
                <p>500$</p>
                <h2>Income</h2>
            </div>
            <div class="main_info_right_box">
                <i class='bx bx-money' ></i>
            </div>
    </div>
    </div>
    <div class="orders_first_chart">
        <div class="orders_box">
            <h1>Recent Orders</h1>
            <div class="order_main_grid">
                <div class="gird_answer">
                <div class="username_title">username</div>
                    <div class="first_answer dummy_order">George</div>
                    <div class="first_answer dummy_order">David</div>
                    <div class="first_answer dummy_order">Levan</div>
                    <div class="first_answer dummy_order">George</div>
                    <div class="first_answer dummy_order">David</div>
                    <div class="first_answer dummy_order">Levan</div>
                    <div class="first_answer dummy_order">George</div>
                    <div class="first_answer dummy_order">David</div>
                    <div class="first_answer dummy_order">Levan</div>
                    <div class="first_answer dummy_order">George</div>
                    <div class="first_answer dummy_order">David</div>
                    <div class="first_answer dummy_order">Levan</div>
                </div>
                <div class="gird_answer">
                    <div class="quantity_title">quantity</div>
                    <div class="first_answer dummy_order product_quantity">5</div>
                    <div class="first_answer dummy_order product_quantity">3</div>
                    <div class="first_answer dummy_order product_quantity">6</div>
                    <div class="first_answer dummy_order product_quantity">5</div>
                    <div class="first_answer dummy_order product_quantity">3</div>
                    <div class="first_answer dummy_order product_quantity">6</div>
                    <div class="first_answer dummy_order product_quantity">5</div>
                    <div class="first_answer dummy_order product_quantity">3</div>
                    <div class="first_answer dummy_order product_quantity">6</div>
                    <div class="first_answer dummy_order product_quantity">5</div>
                    <div class="first_answer dummy_order product_quantity">3</div>
                    <div class="first_answer dummy_order product_quantity">6</div>
                </div>
                <div class="gird_answer">
                    <div class="price_title">price</div>
                    <div class="first_answer dummy_order single_item_price">45$</div>
                    <div class="first_answer dummy_order single_item_price">15$</div>
                    <div class="first_answer dummy_order single_item_price">200$</div>
                    <div class="first_answer dummy_order single_item_price">45$</div>
                    <div class="first_answer dummy_order single_item_price">15$</div>
                    <div class="first_answer dummy_order single_item_price">200$</div>
                    <div class="first_answer dummy_order single_item_price">45$</div>
                    <div class="first_answer dummy_order single_item_price">15$</div>
                    <div class="first_answer dummy_order single_item_price">200$</div>
                    <div class="first_answer dummy_order single_item_price">45$</div>
                    <div class="first_answer dummy_order single_item_price">15$</div>
                    <div class="first_answer dummy_order single_item_price">200$</div>
                </div>
                <div class="gird_answer">
                    <div class="time_title">time</div>
                    <div class="first_answer  dummy_order time_of_order">02.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">03.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">07.11.23</div>
                    <div class="first_answer  dummy_order time_of_order">02.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">03.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">07.11.23</div>
                    <div class="first_answer  dummy_order time_of_order">02.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">03.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">07.11.23</div>
                    <div class="first_answer  dummy_order time_of_order">02.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">03.25.23</div>
                    <div class="first_answer  dummy_order time_of_order">07.11.23</div>
                </div>
                <div class="gird_answer">
                    <div class="status_title">status</div>
                    <div class="first_answer dummy_order current_product_status pending_status">pending</div>
                    <div class="first_answer dummy_order current_product_status declined_status">declined</div>
                    <div class="first_answer dummy_order current_product_status delivered_status">dlivered</div>
                    <div class="first_answer dummy_order current_product_status pending_status">pending</div>
                    <div class="first_answer dummy_order current_product_status declined_status">declined</div>
                    <div class="first_answer dummy_order current_product_status delivered_status">dlivered</div>
                    <div class="first_answer dummy_order current_product_status pending_status">pending</div>
                    <div class="first_answer dummy_order current_product_status declined_status">declined</div>
                    <div class="first_answer dummy_order current_product_status delivered_status">dlivered</div>
                    <div class="first_answer dummy_order current_product_status pending_status">pending</div>
                    <div class="first_answer dummy_order current_product_status declined_status">declined</div>
                    <div class="first_answer dummy_order current_product_status delivered_status">dlivered</div>
                </div>
            </div>
        </div>
        <!-- <div class="first_chart">
            <h1>Interes in products by sales</h1>
            <div id="chart_div"></div>
        </div> -->
    </div>
    <div class="user_crud" id="ticketsource_linker">
        <h2>Support Tickets</h2>
        <div class="user_crud_main_grid_titles_support">
        <div class="user_crud_user_id">
                <div class="username_title">sender_user_id</div>
            </div>
            <div class="user_crud_user_name">
                <div class="username_title">reson</div>
            </div>
            <div class="user_crud_user_email">
                <div class="username_title">content</div>
            </div>
            <div class="user_crud_user_password">
                <div class="username_title">timestamp</div>
            </div>
            <div class="user_crud_user_type">
                <div class="username_title">state</div>
            </div>
            <div class="user_crud_edit_button">
                <div class="username_title">Detailed</div>
            </div>
            <div class="user_crud_edit_button">
                <div class="username_title">Solution</div>
            </div>
            <div class="user_crud_edit_button">
                <div class="username_title">Delete</div>
            </div> 
        </div>
        <div class="support_output_wrapper">
            <div class="user_crud_main_grid_support" *ngFor="let ticket of tickets">
                <div class="user_crud_user_id">
                    <div class="first_answer">{{ ticket.ticket.senderId}}</div>
                </div>
                <div class="user_crud_user_name">
                    <div class="first_answer">{{ ticket.ticket.issue}}</div>
                </div>
                <div class="user_crud_user_email">
                    <div class="first_answer string_counter">{{ ticket.ticket.issue_description }}</div>
                </div>
                <div class="user_crud_user_password">
                    <div class="first_answer">{{ ticket.ticket.date | date: 'medium' }}</div>
                </div>
                <div class="user_crud_user_type">
                    <div class="first_answer support_ticket_color" id="userType"
                    [ngClass]="{'tikcet_state_outsource': ticket.ticket.state === 'Unsolved', 'tikcet_state_outsource_solved': ticket.ticket.state !== 'Unsolved'}"
                    id="userType">
                    {{ ticket.ticket.state }}</div>
                </div>
                <div class="user_crud_user_type">
                    <button class="custom_for_button btn_9 ."><a (click)="detailedTicket(ticket.id)">Detail</a></button>
                </div>
                <div class="user_crud_user_type">
                    <button class="custom_for_button btn_9"><a (click)="changeState(ticket.id)">Solve</a></button>
                </div>
                <div class="user_crud_user_type">
                    <button class="custom_for_button btn_9"><a (click)="deleteTicket(ticket.id)">Delete</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="user_crud" id="product_source_linker">
    <h2>Products</h2>
        <div class="user_crud_main_grid_titles product_crud_variant">
        <div class="user_crud_user_id">
                <div class="username_title">product id</div>
            </div>
            <div class="user_crud_user_name">
                <div class="username_title">img</div>
            </div>
            <div class="user_crud_user_email">
                <div class="username_title">product name</div>
            </div>
            <div class="user_crud_user_password">
                <div class="username_title">price</div>
            </div>
            <div class="user_crud_user_type">
                <div class="username_title">final price</div>
            </div>
            <div class="user_crud_user_type">
                <div class="username_title">Type</div>
            </div>
            <div class="user_crud_user_type">
                <div class="username_title">Update</div>
            </div>
            <div class="user_crud_user_type">
                <div class="username_title">Delete</div>
            </div>
        </div>
        <div class="product_output_wrapper">
            <div class="user_crud_main_grid product_crud_main_grid_variaty" id="product_linker" *ngFor="let item of productsWithIds">
                <div class="user_crud_user_id">
                    <div class="first_answer">{{ item.id }}</div>
                </div>
                <div class="user_crud_user_name">
                    <div class="first_answer">{{ item.product.main_img }}</div>
                </div>
                <div class="user_crud_user_email">
                    <div class="first_answer string_counter">{{ item.product.product_name }}</div>
                </div>
                <div class="user_crud_user_password">
                    <div class="first_answer string_counter matched_prices_color">{{ item.product.product_price }}</div>
                </div>
                <div class="user_crud_user_password">
                    <div class="first_answer string_counter matched_prices_color" [class.umatched_prices_color]="item.product.product_price !== item.product.final_price">{{ item.product.final_price }}</div>
                </div>
                <div class="user_crud_user_password">
                    <div class="first_answer string_counter">{{ item.product.type }}</div>
                </div>
                <div class="user_crud_edit_button">
                    <button class="custom_for_button btn_9" (click)="editProduct(item.id)">Edit</button>
                </div>
                <div class="user_crud_edit_button">
                    <button class="custom_for_button btn_9" (click)="deleteProduct(item.id)" >Delete</button>
                </div>
        </div>
        </div>
    </div>
    <div class="curd_user_add_grid">
        <div class="user_crud_add_user">
            <a>
                <i class='bx bx-plus plus_sign'></i>
                <a>Add User</a>
            </a>
        </div>
        <div class="product_crud_add_user">
            <a  routerLink="/choicePoint">
                <i class='bx bx-plus plus_sign'></i>
                <a routerLink="/choicePoint">Add Product</a>
            </a>
        </div>
    </div>

    <div class="second_chart_to_do_list">
        <div class="second_chart">First Chart</div>
        <div class="to_do_list">Second Chart</div>
    </div>
</div>
<app-footer></app-footer>